<svg
    #svg
    (mousedown)="onPress($event.target, { x: $event.clientX, y: $event.clientY })"
    (mouseup)="onRelease({ x: $event.clientX, y: $event.clientY })"
    (mouseleave)="onLeave()"
    (wheel)="onWheel({ x: $event.clientX, y: $event.clientY }, $event.deltaY)"
>
    <g grid
        *ngIf="showGrid"
        [converter]="converter"
    ></g>
    <g [attr.transform]="converter.modelToSvgTransform">
        <g
            particle-component
            *ngFor="let particle of particles"
            [particle]="particle"
            (circleHover)="onCircleHover(particle)"
            (circleDehover)="onCircleDehover(particle)"
            (circleFocus)="onCircleFocus(particle)"
            (circleBlur)="onCircleBlur(particle)"
        />
        <circle
            *ngIf="pendingParticle"
            [attr.cx]="pendingParticle.cx"
            [attr.cy]="pendingParticle.cy"
            [attr.r]="pendingParticle.r"
            [attr.fill]="pendingParticle.fill"
        ></circle>
    </g>
</svg>
<toolbar
    [(action)]="action"
    [(gravitySimulator)]="gravitySimulator"
    [(gravitationalConstant)]="gravitationalConstant"
    (undo)="undo()"
    (redo)="redo()"
    (step)="step()"
    (showGrid)="showGrid = $event"
    (showTracker)="showTracker = $event"
></toolbar>
<mouse-tracker *ngIf="showTracker"></mouse-tracker>
<particle-description
    *ngIf="circleHover || circleFocus || descriptionHover || descriptionFocus"
    [particle]="described"
    [style.left.px]="described ? converter.modelToSvgX(described.positionX + described.radius) : 0"
    [style.top.px]="described ? converter.modelToSvgY(described?.positionY) : 0"
    [focus]="circleFocus || descriptionFocus"
    (mouseenter)="descriptionHover = true"
    (mouseleave)="descriptionHover = false"
    (focusin)="descriptionFocus = true"
    (focusout)="descriptionFocus = $event.currentTarget.contains($event.relatedTarget)"
></particle-description>