<div [class]="['toolbar_content', visible ? 'toolbar_content__visible' : 'toolbar_content__hidden']">
    <select (input)="actionSelect.emit($event.target.value)">
        <option></option>
        <option [value]="Action.ADD_PARTICLE">add particle</option>
    </select>
    <button class="arial" (click)="undo.emit()">{{ symbol.UNDO }}</button>
    <button class="arial" (click)="redo.emit()">{{ symbol.REDO }}</button>
    <button class="arial" (click)="step.emit()">{{ symbol.STEP }}</button>
</div>

<div class="arial toolbar_toggle" (click)="toggle()">
    {{ arrow }}
</div>