:host {
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
}

:host > * {
    pointer-events: auto;
}

.toolbar_content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: flex 0.5s;
    overflow: hidden;
    white-space: nowrap;
    background-color: gray;
    border-left: 4px solid black;
}

.toolbar_content > * {
    margin-left: .5em;
    padding: 0 .3em;
    font-size: 1.5em;
    border-left: solid 2px black;
    appearance: none;
    background-color: white;
}

.toolbar_history {
    font-weight: bold;
}

.toolbar_content__visible {
    flex: 1 1;
}

.toolbar_content__hidden {
    flex: 0 0 0;
}

.toolbar_toggle {
    flex: 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    cursor: pointer;
    background-color: black;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.toolbar_toggle:hover {
    background-color: gray;
    color: black;
}