<div
    #content
    [class]="['content', visible ? 'content__visible' : 'content__hidden']"
    (mousedown)="startScroll($event.clientX)"
    (mouseleave)="endScroll()"
    (mouseup)="endScroll()"
>
    <select (input)="actionChange.emit($event.target.value)">
        <option
            [value]="Action.ADD_PARTICLE"
            [selected]="action === Action.ADD_PARTICLE"
        >add particle</option>
        <option
            [value]="Action.ZOOM_PAN"
            [selected]="action === Action.ZOOM_PAN"
        >zoom/pan</option>
    </select>
    <button class="symbol" (click)="undo.emit()">{{ symbol.UNDO }}</button>
    <button class="symbol" (click)="redo.emit()">{{ symbol.REDO }}</button>
    <button class="symbol" (click)="step.emit()">{{ symbol.STEP }}</button>
    <button
        [style.color]="showGrid ? 'black' : 'gray'"
        (click)="showGrid = !showGrid; showGridChange.emit(showGrid)"
    >grid</button>
    <button
        [style.color]="showTracker ? 'black' : 'gray'"
        (click)="showTracker = !showTracker; showTrackerChange.emit(showTracker)"
    >tracker</button>
    <select (input)="gravitySimulatorChange.emit($event.target.value)">
        <option
            [value]="GravitySimulator.INTEGRATE"
            [selected]="gravitySimulator === GravitySimulator.INTEGRATE"
        >integrate</option>
        <option
            [value]="GravitySimulator.NONE"
            [selected]="gravitySimulator === GravitySimulator.NONE"
        >none</option>
    </select>
    <number-edit
        [value]="gravitationalConstant"
        (edit)="gravitationalConstantChange.emit($event)"
    ></number-edit>
    <select (input)="collisionSimulatorChange.emit($event.target.value)">
        <option
            [value]="CollisionSimulator.ELASTIC"
            [selected]="collisionSimulator === CollisionSimulator.ELASTIC"
        >elastic</option>
        <option
            [value]="CollisionSimulator.NONE"
            [selected]="collisionSimulator === CollisionSimulator.NONE"
        >none</option>
    </select>
</div>

<div class="toggle symbol" (click)="visible = !visible">
    {{ visible ? symbol.LEFT_ARROW : symbol.RIGHT_ARROW }}
</div>