<table>
    <tr>
        <th scope="row">position</th>
        <td *ngIf="focus; else positionElse">
            (<number-edit
                #positionXEdit
                [value]="particle.positionX"
                (edit)="setPositionX($event, positionXEdit)"
            ></number-edit>,<number-edit
                #positionYEdit
                [value]="particle.positionY"
                (edit)="setPositionY($event, positionYEdit)"
            ></number-edit>)
        </td>
        <ng-template #positionElse>
            <td>({{ particle.positionX }},{{ particle.positionY }})</td>
        </ng-template>
    </tr>
    <tr>
        <th scope="row">radius</th>
        <td *ngIf="focus; else radiusElse">
            <number-edit
                #radiusEdit
                [value]="particle.radius"
                (edit)="setRadius($event, radiusEdit)"
            ></number-edit>
        </td>
        <ng-template #radiusElse>
            <td>{{ particle.radius }}</td>
        </ng-template>
    </tr>
    <tr>
        <th scope="row">velocity</th>
        <td *ngIf="focus; else velocityElse">
            (<number-edit
                #velocityXEdit
                [value]="particle.velocityX"
                (edit)="setVelocityX($event, velocityXEdit)"
            ></number-edit>,<number-edit
                #velocityYEdit
                [value]="particle.velocityY"
                (edit)="setVelocityY($event, velocityYEdit)"
            ></number-edit>)
        </td>
        <ng-template #velocityElse>
            <td>({{ particle.velocityX }},{{ particle.velocityY }})</td>
        </ng-template>
    </tr>
</table>