table {
    background-color: gray;
    color: white;
    padding: .3rem;
    border-left: solid 2px black;
}

th, td {
    white-space: nowrap;
    text-align: left;
}

th {
    padding-right: 1rem;
}