<table>
    <tr>
        <th scope="row">position</th>
        <td *ngIf="focus; else positionElse">
        (<input
            #xInput
            type="number"
            [value]="particle.x"
            [style.width.ch]="particle.x.toString().length + 1"
            (input)="xInput.style.width = '' + (xInput.value.length + 1) + 'ch'"
            (keyup.enter)="setPositionX(xInput.value); xInput.value = particle.x;"
            (blur)="xInput.value = particle.x;"
        >,<input
            #yInput
            type="number"
            [value]="particle.y"
            [style.width.ch]="particle.y.toString().length + 1"
            (input)="yInput.style.width = '' + (yInput.value.length + 1) + 'ch'"
            (keyup.enter)="setPositionY(yInput.value); yInput.value = particle.y;"
            (blur)="yInput.value = particle.y;"
        >)
        </td>
        <ng-template #positionElse>
            <td>({{ particle.x }}, {{ particle.y }})</td>
        </ng-template>
    </tr>
    <tr>
        <th scope="row">radius</th>
        <td *ngIf="focus; else radiusElse">
            <input
                #radiusInput
                type="number"
                [value]="particle.radius"
                [style.width.ch]="particle.radius.toString().length + 1"
                (input)="radiusInput.style.width = '' + (radiusInput.value.length + 1) + 'ch'"
                (keyup.enter)="setRadius(radiusInput.value); radiusInput.value = particle.radius;"
                (blur)="radiusInput.value = particle.radius;"
            >
        </td>
        <ng-template #radiusElse>
            <td>{{ particle.radius }}</td>
        </ng-template>
    </tr>
</table>