input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input {
    background-color: white;
    color: black;
    height: 100%;
}

@keyframes on-edit {
    from {
        color: rgba(0, 0, 0, 1);
    }
    to {
        color: rgba(0, 0, 0, .5);
    }
}