input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

@keyframes on-edit {
    from {
        color: rgba(0, 0, 0, 1);
    }
    to {
        color: rgba(0, 0, 0, .5);
    }
}